<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jy.rbac.mapper.DeptMapper">

    <sql id="cols">
        deptId, parentId, ancestors, deptName, orderNum, leader, phone, email, status,
        createBy, createTime, updateBy, updateTime
    </sql>
    <insert id="add" useGeneratedKeys="true" keyProperty="deptId">
        INSERT
        INTO
        sys_dept (
        parentId,
        ancestors,
        deptName,
        orderNum,
        leader,
        phone,
        email,
        status,
        createBy,
        createTime,
        updateBy,
        updateTime)
        VALUES(#{parentId}, #{ancestors},
        #{deptName},
        #{orderNum},
        #{leader},
        #{phone},
        #{email},
        #{status},
        #{createBy},
        #{createTime},
        #{updateBy},
        #{updateTime})
    </insert>
    <update id="edit">
        update sys_dept
        <set>
            <if test="parentId != null">
                parentId = #{parentId},
            </if>
            <if test="ancestors != null and ancestors != ''">
                ancestors = #{ancestors},
            </if>
            <if test="deptName != null and deptName != ''">
                deptName = #{deptName},
            </if>
            <if test="orderNum != null">
                orderNum = #{orderNum},
            </if>
            <if test="leader != null and leader != ''">
                leader = #{leader},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="updateBy != null and updateBy != ''">
                updateBy = #{updateBy},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime},
            </if>
        </set>
        where delFlag != '1' and deptId = #{deptId}
    </update>

    <select id="getList" resultType="com.jy.rbac.pojo.entity.Dept">
        select <include refid="cols"/> from sys_dept
        <where>
            delFlag != '1'
            <if test="deptName != null and deptName != ''">
                and deptName like concat('%', #{deptName}, '%')
            </if>
        </where>
        order by orderNum
    </select>

    <select id="getAll" resultType="com.jy.rbac.pojo.entity.Dept">
        select <include refid="cols"/> from sys_dept
        where delFlag != '1'
        order by orderNum
    </select>

    <select id="getDeptById" resultType="com.jy.rbac.pojo.entity.Dept">
        select <include refid="cols"/> from sys_dept where  delFlag != '1' and deptId = #{deptId}
    </select>
</mapper>
